[package]
name = "tinyrlibc"
version = "0.2.2"
authors = ["Jonathan 'theJPster' Pallant <github@thejpster.org.uk>"]
edition = "2018"
description = "Tiny, incomplete C library for bare-metal targets, written in Stable (but Unsafe) Rust"
license-file = "LICENCES.md"
readme = "README.md"
repository = "https://github.com/thejpster/tinyrlibc"

[dependencies]

[build-dependencies]
cc = "1.0"
